<div *ngIf="this.isLoading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div *ngIf="this.authors" class="container">
  <h1>Authors</h1>
  <button mat-raised-button class="btn btn-primary" (click)="goToAdd()">Add Yourself!</button>
  <div>
    <div class="" *ngFor="let author of authors">
      <div>
        <mat-card class="authors-card">
          <mat-card-header>
            <mat-icon color="warn" [style.cursor]="'pointer'" class="float-right" (click)="deleteAuthor(author)">delete</mat-icon>
            <img mat-card-avatar [src]="author.avatar" />
            <mat-card-title>{{ author.name }}</mat-card-title>
            <mat-card-subtitle>BirthDate: {{ author.birthdate | date: 'mediumDate'}} || Gender: {{ author.gender }}</mat-card-subtitle>
          </mat-card-header>
          <hr />
          <mat-card-content>
            <p>{{ author.description }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="text-center">{{ spinValue }} / 100 Authors Joined</div>
    <mat-progress-spinner class="center-spin" color="primary" mode="determinate" [value]="spinValue"></mat-progress-spinner>
  </div>
</div>