// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.stories-card {
  box-shadow: 10px 10px 5px grey;
  min-width: 200px;
  margin-bottom: 1em;
}

// .story-img {
//   height: 20em;
// }